body {
    background-color: rgb(51, 42, 102);
    color: rgb(134, 168, 122);
    /* border-color: ; */
}
code {
    background-color: rgb(9, 9, 68);
    color: darkkhaki;
    /* border-color: ; */
}